<!-- IF not AJAX -->
<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->
<script type="text/javascript">
// <![CDATA[
	var commentreq = '{S_RS_COMMENT_REQ}';
	var nocomment = '{L_RS_NO_COMMENT}';
	var commentlen = '{RS_COMMENT_TOO_LONG}';
	var toolongcomment = '{S_RS_COMMENT_TOO_LONG}';
// ]]>
</script>

<form method="post" action="{S_CONFIRM_ACTION}">

<!-- IF not AJAX -->
<h2>{USER_RATING_CONFIRM}</h2>
<!-- ENDIF -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF not AJAX -->
	<h3>{L_RS_USER_RATING}</h3>

	<p>{L_RS_USER_POINT_EXPLAIN}</p>
	<!-- ENDIF -->

	<fieldset>
		<!-- IF RS_POWER_POINTS_LEFT -->
		<div style="margin-bottom:10px; text-align:center">
			<div class="progress-bar">
				<div class="empty-progress" style="width:{RS_POWER_PROGRESS_EMPTY}%"></div>
			</div>
			<span>{RS_POWER_POINTS_LEFT}</span><br/>
		</div>
		<!-- ENDIF -->
		<dl>
			<dt><label>{L_RS_POINTS}<label></dt>
			<dd><select name="rep_power" id="rep_power">
				<!-- BEGIN reputation -->
					{reputation.REPUTATION_POWER}
				<!-- END reputation -->
				</select></dd>
		</dl>
		<!-- IF S_RS_COMMENT_ENABLE -->
		<dl class="comment">
			<dt><label>{L_RS_COMMENT}<label></dt>
			<textarea name="comment" id="comment" class="inputbox" cols="40" rows="3" style="width: 99%;">{COMMENT}</textarea><!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		</dl>
		<!-- ENDIF -->
		<!-- IF S_RS_PM_NOTIFY -->
		<dl>
			<label><input type="checkbox" name="notify_user" /> {L_NOTIFY_USER_REP}</label>
		</dl>
		<!-- ENDIF -->
	</fieldset>

	<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
	<!-- IF AJAX --><input type="hidden" name="ajax" value="1" /><!-- ENDIF -->
		<input type="submit" name="submit" value="{L_RS_RATE_BUTTON}" class="button2"<!-- IF AJAX --> onclick="submit_vote();return false;"<!-- ENDIF --> />&nbsp;
		<input type="submit" name="cancel" value="{L_CANCEL}" class="button2"<!-- IF AJAX -->  onclick="$('#repo-popup').fadeOut('fast');return false;"<!-- ENDIF --> />
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

</form>

<!-- IF not AJAX -->
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->