<h3>{L_RS_USER_REPUTATION} <span style="float:right;"><a href="{U_RS_USER_DETAILS}" title="">{L_RS_MORE_DETAILS}</a></span></h3>
<hr />

<div id="post-reputation-list">
<!-- IF .reputation -->
	<!-- BEGIN reputation -->
	<div class="reputation-list <!-- IF reputation.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->" id="r{reputation.REP_ID}">
		<!-- IF S_RS_AVATAR -->
			<div class="reputation-avatar">{reputation.AVATAR_IMG}</div>
		<!-- ENDIF -->
		<div style="padding-left: 5px;">
			<!-- IF reputation.DELETE --><a href="#" title="{L_DELETE}" class="reputation-delete post" onclick="jRS.del({reputation.REP_ID}, 'post'); return false;">{L_DELETE}</a><!-- ENDIF -->
			<span style="float: left;"><strong>{reputation.USERNAME}</strong> &raquo; {reputation.TIME}</span>
			<span class="reputation-rating {reputation.POINT_CLASS}">{reputation.POINT_VALUE}</span><br />
			<span>{reputation.ACTION} {reputation.GO_TO_POST}</span><br />
			<!-- IF S_RS_COMMENT and reputation.COMMENT -->
			<span>{L_RS_COMMENT}:</span>
			<div class="comment_message">{reputation.COMMENT}</div>
			<!-- ENDIF -->
		</div>
	</div>
	<!-- END reputation -->
	<!-- ELSE -->
	<div class="reputation-list bg3">
		<span>{L_RS_EMPTY_DATA}</span>
	</div>
	<!-- ENDIF -->
</div>

<!-- IF .reputation -->
<div class="footer-popup">
	<label>{L_SORT_BY}:</label>
	<a href="#" onclick="sortby.username('user','{USER_ID}','{V_SORT_DIR}'); return false;">{L_USERNAME}</a> &bull; 
	<a href="#" onclick="sortby.time('user','{USER_ID}','{V_SORT_DIR}'); return false;">{L_TIME}</a> &bull; 
	<a href="#" onclick="sortby.points('user','{USER_ID}','{V_SORT_DIR}'); return false;">{L_RS_POINTS}</a> &bull; 
	<a href="#" onclick="sortby.action('user','{USER_ID}','{V_SORT_DIR}'); return false;">{L_RS_ACTION}</a> &bull; 
	<a href="#" onclick="sortby.post('user','{USER_ID}','{V_SORT_DIR}'); return false;">{L_POST}</a>
	<!-- IF S_TRUNCATE --><span style="float:right;"><a href="#" onclick="jRS.clear({USER_ID}, 'user', 'topic'); return false;">{L_RS_CLEAR_USER}</a></span><!-- ENDIF -->
</div>
<!-- ENDIF -->
