<!-- IF not S_IS_AJAX -->
<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<h3>{L_RS_POST_REPUTATION} - {POST_SUBJECT}</h3>

<p class="author">{L_POST} {L_POST_BY_AUTHOR} {POST_AUTHOR}</p>

<div id="post-reputation-list">
<!-- IF .reputation -->
	<!-- BEGIN reputation -->
	<div class="reputation-list <!-- IF reputation.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->" id="r{reputation.ID}">
		<!-- IF S_RS_AVATAR -->
			<div class="reputation-avatar">
				<!-- IF reputation.AVATAR -->
					{reputation.AVATAR}
				<!-- ELSE -->
					<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" />
				<!-- ENDIF -->
			</div>
		<!-- ENDIF -->
		<div class="reputation-detail">
			<!-- IF reputation.S_DELETE --><a href="{reputation.U_DELETE}" class="reputation-delete" title="{L_DELETE}" data-lang-confirm="{L_RS_REPUTATION_DELETE_CONFIRM}">{L_DELETE}</a><!-- ENDIF -->
			<div class="reputation-rating {reputation.POINTS_CLASS}<!-- IF S_RS_POINTS_IMG --> image<!-- ENDIF -->" title="{reputation.POINTS_TITLE}">{reputation.POINTS}</div>
			<div><strong>{reputation.USERNAME}</strong> &raquo; {reputation.TIME}</div>
			<!-- IF S_RS_COMMENT and reputation.S_COMMENT -->
			<div class="comment_message">
				<span>{L_RS_COMMENT}:</span>
				<div>{reputation.COMMENT}</div>
			</div>
			<!-- ENDIF -->
		</div>
	</div>
	<!-- END reputation -->
<!-- ELSE -->
	<div class="reputation-list bg3">
		<span>{L_RS_EMPTY_DATA}</span>
	</div>
<!-- ENDIF -->
</div>

<!-- IF .reputation -->
<div class="footer-popup"<!-- IF S_IS_AJAX --> data-referer="_referer={U_REPUTATION_REFERER}"<!-- ENDIF -->>
	<label>{L_SORT_BY}:</label>
	<a href="{U_SORT_USERNAME}" class="sort_order">{L_USERNAME}</a> &bull; 
	<a href="{U_SORT_TIME}" class="sort_order">{L_TIME}</a> &bull; 
	<a href="{U_SORT_POINT}" class="sort_order">{L_RS_POINTS}</a>
	<!-- IF S_CLEAR --><a href="{U_CLEAR}" class="clear-reputation" data-lang-confirm="{L_RS_CLEAR_POST_CONFIRM}">{L_RS_CLEAR_POST}</a><!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF not S_IS_AJAX -->
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->