<!-- INCLUDE mcp_header.html -->

<form id="ucp" method="post" action="{U_ACTION}">

<h2>{L_UCP_REPUTATION_GIVEN}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_RS_REPUTATION_GIVEN_LISTS_UCP}</p>

	<!-- IF .reputation -->
	<ul class="linklist">
		<li class="rightside pagination">
			<!-- IF TOTAL_REPS -->{TOTAL_REPS} &bull; <!-- ENDIF -->
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				{PAGE_NUMBER}
			<!-- ENDIF -->
		</li>
	</ul>
		
	<table class="table1" cellspacing="1">
		<thead>
		<tr>
			<th class="name">{L_RS_TO}</th>
			<th class="name">{L_RS_ACTION}</th>
			<th class="name">{L_RS_DATE}</th>
			<!-- IF S_COMMENT --><th class="name">{L_RS_COMMENT}</th><!-- ENDIF -->
			<th class="name">{L_RS_POINTS}</th>
			<!-- IF S_DELETE_LINK --><th class="name">{L_MARK}</th><!-- ENDIF -->
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN reputation -->
		<tr class="<!-- IF reputation.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<td class="name">{reputation.USERNAME}</td>
			<td class="name">{reputation.ACTION}</td>
			<td class="name">{reputation.TIME}</td>
			<!-- IF S_COMMENT --><td class="info">{reputation.COMMENT}</td><!-- ENDIF -->
			<td style="text-align: center;" class="vote_status_{reputation.POINT_CLASS}">{reputation.POINT_VALUE}</td>
			<!-- IF S_DELETE_LINK --><td style="text-align: center;"><input type="checkbox" name="rep_id_list[]" value="{reputation.REP_ID}" /></td><!-- ENDIF -->
		</tr>
		<!-- END reputation -->
		</tbody>
	</table>

	<fieldset class="display-options">
		<label>{L_RS_DISPLAY_REPUTATIONS}: {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
		<input type="submit" name="sort" value="{L_GO}" class="button2" />
	</fieldset>
	
	<hr />
	<ul class="linklist">
		<li class="rightside pagination">
			<!-- IF TOTAL_REPS -->{TOTAL_REPS} &bull; <!-- ENDIF -->
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				{PAGE_NUMBER}
			<!-- ENDIF -->
		</li>
	</ul>

	<!-- ELSE -->
		<p><strong>{L_RS_EMPTY_DATA}</strong></p>
	<!-- ENDIF -->

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF .reputation and S_DELETE_LINK -->
<fieldset class="display-actions">
	<input class="button2" type="submit" value="{L_RS_DELETE_POINTS}" name="delete" />
	<div><a href="#" onclick="marklist('ucp', 'rep_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', 'rep_id_list', false); return false;">{L_UNMARK_ALL}</a></div>
</fieldset>
<!-- ENDIF -->

</form>

<!-- INCLUDE mcp_footer.html -->